@use "@/styles/variables" as v;

.footer {
  flex-shrink: 0;
  border-top: 1px solid v.$color-border-outer;
  padding: 10px 20px;
  text-align: center;
  font-size: 10px;
  color: v.$color-text-sub;

  a {
    color: v.$color-text-sub;
    text-decoration: none;

    &:hover {
      color: v.$color-text;
    }
  }
}
